<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n"/>
    <property name="APP_LOG_ROOT" value="${app.log}"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="applicationLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/TemplateLogs.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/application-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "applicationLog"/>
        <appender-ref ref = "console"/>
    </root>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="applicationLog"/>
        <appender-ref ref="console"/>
    </logger>
</configuration>