body {
  background: #1e4a6c;
}

.hand-pointer {
  cursor: pointer;
}

#index-errorDiv {
  position: absolute;
  z-index: 2;
  border-radius: 0px;
  margin-top: 56px;
  display: none;
}

#index-errorDiv i {
  cursor: pointer;
}

#report-header {
  min-height: 50px;
  padding-top: 15px;
  z-index: 3;
  background: #1e4a6c;
  margin-left: 0;
  margin-right: 0;
}

#report-header-logo-section,
#report-logo-div,
#report-header img {
  float: left;
}

#report-logo-div {
  height: 55px;
  margin-top: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

#report-header img {
  height: 36px;
  margin-top: 8px;
}

#report-title {
  padding: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

#pageContainer {
  font-size: 12px;
}

#pleaseWaitDialog {
  margin-top: 15%;
}

h2 {
  margin-top: 10px;
}

.coverpage_label {
  width: 125px;
  float: left;
  height: 34px;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 7px;
}

.coverpage_val {
  width: 300px;
  float: left;
}

#coverpage_attrs {
  width: 100%;
  height: 116px;
}

.coverpage_attr {
  clear: both;
}

.no-border,
.no-border td {
  border: none !important;
}

.table.table-hover {
  border-top: 0px;
  border-right: 1px solid #d6d6d6;
  border-bottom: 0px;
  border-left: 1px solid #d6d6d6;
  margin-bottom: 0px;
}

.table-hover tbody tr :hover {
  background-color: whitesmoke;
}

.table-hover thead th {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
}

.table-hover td,
.table-hover th {
  padding: 5px !important;
  font-size: 12px;
}

.table-hover tbody tr:hover {
  background-color: whitesmoke;
}

.table-fix-head {
  overflow-y: auto;
  max-height: 430px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 15px;
}

.table .thead-dark th {
  color: #fff;
  font: 14px;
  background-color: #1e4a6c;
  border-color: #454d55;
  text-align: center;
  border: solid;
  background-color: #1e4a6c;
}

.deleteMsg {
  font-size: 14px;
}

.glyphPosition {
  position: initial !important;
}

.createbtn {
  float: right;
  margin-bottom: 15px;
  margin-right: 20px;
}

.table-hover tbody tr td {
  word-wrap: break-word;
}

.sticky {
  position: sticky;
  top: 0;
  background: white;
}

#userId {
  display: none;
}

#userId {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
}

.modal-body .row:not(last) {
  padding-bottom: 10px;
}

select {
  font-size: 12px !important;
}

table {
  text-align: center;
}

#editCriteriaButton {
  vertical-align: top;
}

.pad-1 {
  padding: 1px;
}

.pad-1-right {
  padding-right: 1px;
}

.pad-1-left {
  padding-left: 1px;
}

#edit_criteria .modal-dialog {
  width: 1100px;
  text-align: center;
}

#edit_criteria .btn-group {
  float: right;
}

#edit_criteria .input-sm {
  padding-right: 5px;
  padding-left: 5px;
}

#FormCreationDiv {
  background-color: white;
  padding: 15px 30px;
  min-height: 150px;
}
.page-title {
  height: 66px;
  margin: 5px 0px 20px 0px;
  font-size: 29px;
  text-align: center;
  font-weight: 400;
  border-width: thin;
  border-bottom: 1px solid #e7e7e7;
}

.instructions-text {
  color: dimgray;
  font-size: 11px;
  font-weight: 400;
}
/*#edit_criteria .modal-dialog,
#edit_criteria .modal-content {
    80% of window height
    height: 80%;
}

#edit_criteria .modal-body {
    100% = dialog height, 120px = header + footer
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}
*/

.help-block {
  color: #b94a48;
}
